.front {
    position: absolute;
    width: inherit;
    height: inherit;
    transform: translateZ(min(1vh, 1px));
    background-image: url(../../../../../assets/Loading.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 1vh;
}

img {
    border-radius: 1vh;
    width: inherit;
    height: inherit;
}